html {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

body {
	height: 100%;
	width: 100%;
	font-family: "Archivo Black", sans-serif;
	font-size: 20px;
	
	margin: 30px;
	overflow-y: auto;
	overflow-x: auto;
	
	display: grid;
	grid-template-columns: 2fr 1fr 50% 3fr ;
	grid-template-rows: 75px 1fr;
	gap: 30px;
}

::selection {
	color: white;
	background-color: black;
}

header {
	font-size: 24px;
	grid-column: 2 / 4;
	grid-row: 1 / 2;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

.sidebar-links:hover {
	color: white;
	background-color: black;
	border: 3px solid black;
}

.sidebar {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.content {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	font-family: "Roboto";
}

.wpngrl-img, .wpngrl-hiss{
	bottom: 0;
	right: 50px;
	height: 60vh;
	width: auto;
	position: absolute;
}

.wpngrl-hiss, .zines-hover {
	display: none;
}

.wpngrl-crawl {
	bottom: 0;
	right: 0;
	height: 40vh;
	width: auto;
	position: absolute;
}

.logo {
	width: auto;
	height: 75px;
}

.back-button {
	left: 2%;
	top: 5%;
	height: 50px;
	width: auto;
	position: absolute;
}

.zines-link, .zines-hover {
	left: -35px;
	bottom: 7%;
	height: 40vh;
	width: auto;
	position: absolute;
	
}

area:hover {
	background-color: red;
}