html {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

body {
	height: 100%;
	width: 100%;
	font-family: "Archivo Black", sans-serif;
	font-size: 20px;
	
	margin: 30px;
	overflow-y: auto;
	overflow-x: auto;
	
	display: grid;
	grid-template-columns: 2fr 1fr 50% 3fr ;
	grid-template-rows: 100px 1fr;
	gap: 15px;
	
	background-color: #d9c6a7;
}

::selection {
	color: #d9c6a7;
	background-color: black;
}

header {
	font-size: 24px;
	grid-column: 1 / 5;
	grid-row: 1 / 2;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

.sidebar-links:hover {
	color: #d9c6a7;
	background-color: black;
	border: 3px solid black;
}

.sidebar {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

#content {
	display: inline;
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	font-family: "Roboto";
}

.portfolio {
	text-align: center;
}

.wpngrl-img, .wpngrl-hiss{
	bottom: 0;
	right: 50px;
	height: 60vh;
	width: auto;
	position: absolute;
}

.wpngrl-hiss, .zines-hover {
	display: none;
}

.wpngrl-crawl {
	bottom: 0;
	right: 0;
	height: 40vh;
	width: auto;
	position: absolute;
}

.logo {
	width: auto;
	height: 100px;
}

.back-button {
	left: 2%;
	top: 5%;
	height: 50px;
	width: auto;
	position: absolute;
}

.zines-link, .zines-hover {
	left: -35px;
	bottom: 7%;
	height: 40vh;
	width: auto;
	position: absolute;
	
}

.signature {
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-size: 12px;
}

.portrait {
	width: 100px;
	height:auto;
	float:left;
	padding-right:15px;
}

select {
	font-size: inherit;
	font-style: inherit;
	background-color: inherit;
	border: 1px solid rgb(0,0,0,0.25);
}

.landing {
	width: 45vw;
	max-width: 464px;
	height: auto;
}

button {
	font-family: "DM Mono";
	font-size: inherit;
	color: #4a3e32;
	border: none;
	height: 30px;
	background-color: #998067;
	cursor: grab;
	outline: none;
	box-shadow: -4px 4px #4a3e32;
	border: 2px solid #826c57;
}

button:active {
	cursor: grabbing;
	transform: translateY(2px) translateX(-2px);
	box-shadow: -2px 2px #4a3e32;
}

.launch {
	width: 400px;
}

.resume {
	white-space: pre-wrap;
	text-align: left;
}

.gallery-thumb {
	height: 250px;
	width: auto;
}

.gallery-thumb:hover {
	cursor: zoom-in;
}

#gallery-container {
	text-align: center;
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	display: none;
}

#gallery-active {
	height: 70vh;
}

#gallery-text {
	font-family: Roboto;
}

#zoomer-outer {
	width: 100%;
	height: auto;
	cursor: zoom-out;
}

img {
	loading: lazy;
}